certifi==2024.12.14 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
cryptography==43.0.0 ; python_version >= "3.12" and python_version < "4.0"
customtkinter==5.2.2 ; python_version >= "3.12" and python_version < "4.0"
darkdetect==0.8.0 ; python_version >= "3.12" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.12" and python_version < "4.0"
future==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
geocoder==1.38.1 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
jaraco-classes==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
jaraco-context==6.0.1 ; python_version >= "3.12" and python_version < "4.0"
jaraco-functools==4.1.0 ; python_version >= "3.12" and python_version < "4.0"
jeepney==0.8.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "linux"
keyring==25.5.0 ; python_version >= "3.12" and python_version < "4.0"
keyrings-alt==5.0.2 ; python_version >= "3.12" and python_version < "4.0"
more-itertools==10.5.0 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.12" and python_version < "4.0"
pillow==11.0.0 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
pyicloud==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
pyperclip==1.9.0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
pywin32==308 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
ratelim==0.1.6 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
secretstorage==3.3.3 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "linux"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
tkintermapview==1.29 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
tzlocal==5.2 ; python_version >= "3.12" and python_version < "4.0"
unidecode==1.3.8 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.2.3 ; python_version >= "3.12" and python_version < "4.0"
